{% extends 'base/base.html' %}

{% block content %}
<div class="container-fluid ps-4 pe-4">
    {% if notes %}
    <div class="row justify-content-center row-cols-lg-4 gy-3 mt-2 mb-5">
        {% for note in notes %}
        <div class="col">
            <div class="card h-100 bg-dark card-dark text-white border border-secondary shadow-sm p-2">
                <div class="card-header border-secondary">
                    <p class="fs-3 mb-0">{{ note.name }}</p>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled font-monospace">
                        <li class="fs-6 mb-3">
                            Language: <span class="badge border border-secondary">{{ note.language }}</span>
                        </li>
                        <li class="fs-6 mb-3">
                            Read link: <span class="badge border border-secondary">{{ host }}{{ note.read_link }}</span>
                        </li>
                        <li class="fs-6 mb-3">
                            Edit link: <span class="badge border border-secondary">{{ host }}{{ note.edit_link }}</span>
                        </li>
                    </ul>
                </div>
                <div class="card-footer container border-secondary">
                    <div class="row gy-3 gx-3 pt-2">
                        <div class="col d-grid gap-2">
                            <a href="{% url 'index' access_link=note.read_link %}"
                                class="btn btn-sm btn-primary">Edit</a>
                        </div>
                        <div class="col d-grid gap-2">
                            <a href="{% url 'dashboard' %}" class="btn btn-sm btn-success">Download</a>
                        </div>
                        <div class="col d-grid gap-2">
                            <a href="{% url 'delete_note' id=note.id %}?next={{ request.path }}"
                                class="btn btn-sm btn-danger">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="row mt-5 justify-content-center">
        <div class="col-4">
            <div class="card bg-dark text-white border border-secondary shadow-sm p-3 d-grid gap-2">
                <h1 class="display-6 text-center">You have not created any note yet</h1>
                <a class="btn btn-outline-primary fs-5" href="{% url 'index' %}">Create your first note</a>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}