{% extends 'base/base.html' %}

{% block content %}
<div class="container-fluid position-relative">
    <div class="row">
        <div class="col-12 p-0">
            <div id="editor" style="height: calc(100vh - 56px)"></div>
        </div>
    </div>
    <div class="position-absolute bottom-0 end-0 m-2">
        <select class="btn btn-secondary btn-sm text-white" id="language-select">
            {% for language in languages %}
            <option value="{{ language }}">
                {{ language }}
            </option>
            {% endfor %}
        </select>
        <button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#setting-modal">
            Settings
        </button>
    </div>
</div>

<div class="modal fade" id="setting-modal">
    <div class="modal-dialog">
        <div class="modal-content bg-dark text-white">
            <div class="modal-header">
                <h5 class="modal-title">Settings</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="mb-5" id="read-settings">
                    <div class="form-check form-switch">
                        <input class="form-check-input bg-secondary" type="checkbox">
                        <label class="form-check-label">Allow reading</label>
                    </div>
                    <div class="input-group input-group-sm mt-3">
                        <span class="input-group-text far fa-clipboard"></span>
                        <input type="text" class="form-control" readonly placeholder="Read link">
                    </div>
                </div>
                <div class="mb-5" id="edit-settings">
                    <div class="form-check form-switch">
                        <input class="form-check-input bg-secondary" type="checkbox">
                        <label class="form-check-label">Allow editing</label>
                    </div>
                    <div class="input-group input-group-sm mt-3">
                        <span class="input-group-text far fa-clipboard"></span>
                        <input type="text" class="form-control" readonly placeholder="Edit link">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uuid/8.3.1/uuid.min.js"></script>
<script src="https://pagecdn.io/lib/ace/1.4.12/ace.js"></script>

{% load static %}
<script src="{% static 'js/editor.js' %}"></script>

{% endblock %}