{% extends 'base/base.html' %}

{% block content %}
<div class="container-fluid position-relative">
    <div class="row">
        <div class="col-12 p-0">
            <div id="editor" style="height: calc(100vh - 56px)"></div>
        </div>
    </div>
    <div class="position-absolute bottom-0 end-0 m-2 me-4">
        <select class="btn btn-outline-secondary btn-sm text-white" id="language-select">
            {% for language in languages %}
            <option value="{{ language }}">
                {{ language }}
            </option>
            {% endfor %}
        </select>
        <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#setting-modal">
            Settings
        </button>
    </div>
</div>

{% include 'base/settings.html' %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uuid/8.3.1/uuid.min.js"></script>
<script src="https://pagecdn.io/lib/ace/1.4.12/ace.js"></script>

<script>
    let init_data = {{init_data | safe}}
    let popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
    let popoverList = popoverTriggerList.map((popoverTriggerEl) => new bootstrap.Popover(popoverTriggerEl))
    $('.copy-btn').click((event) => {
        $(event.target).parent().children('input').select()
        document.execCommand('copy')
        window.getSelection().removeAllRanges()
    })
</script>

{% load static %}
<script src="{% static 'js/editor.js' %}"></script>

{% endblock %}