<nav class="statebar bg-dark position-absolute">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <a id="raw-link" class="pt-2 text-decoration-none me-3" href="#">Raw view</a>
                <p class="font-monospace pt-2 d-inline" id="caret-position">
                    Row <span id="caret-row">0</span>, Col <span id="caret-col">0</span><span
                        id="caret-selection"></span>
                </p>
            </div>
            <div class="col d-flex justify-content-end">
                <select class="btn bg-transparent border-0 text-white me-3" id="language-select">
                    {% for ace_name in languages %}
                    <option value="{{ ace_name }}">
                        {% with name=languages|get_item:ace_name|get_item:'name' %}
                        {% if name != '' %}
                        {{ name }}
                        {% else %}
                        {{ ace_name }}
                        {% endif %}
                        {% endwith %}
                    </option>
                    {% endfor %}
                </select>
                <button id="settings-btn" class="btn text-white ms-3" data-bs-toggle="modal"
                    data-bs-target="#setting-modal">
                    <i class="fas fa-cog"></i>
                </button>
            </div>
        </div>
    </div>
</nav>