<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>codeshare</title>
    <style>
        .col {
            padding: 0;
        }
    </style>
</head>


<body>
    {% load static %}
    <div class="container container-fluid" style="max-width: 100vw;">
        <div class="row">
            <div class="col">
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <a class="navbar-brand" href="#">codeshare</a>
                    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto" style="width: 100%;">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="dropdown-settings-menu" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Settings
                                </a>
                                <div class="dropdown-menu bg-dark" aria-labelledby="dropdown-settings-menu"
                                    style="padding: 10px">
                                    <button class="btn btn-secondary" style="width: 100%" id="note_publish_btn">
                                        <input type="checkbox" style="margin-right: 10px" id="note_published">
                                        Published
                                    </button>
                                    <button class="btn btn-secondary" style="width: 100%; margin-top: 15px"
                                        id="note_protect_btn">
                                        <input type="checkbox" style="margin-right: 10px" id="note_protected">
                                        Protected
                                    </button>
                                    <button class="btn btn-danger" style="width: 100%; margin-top: 15px"
                                        id="note_delete_btn">
                                        Delete
                                    </button>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="dropdown-language-menu" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Language</a>
                                <div class="dropdown-menu bg-dark" aria-labelledby="dropdown-language-menu"
                                    style="height: 40vh; overflow-y: scroll">
                                    {% for el in languages %}
                                    <a class="dropdown-item bg-dark language-item"
                                        style="color: rgba(255, 255, 255, 0.5);" href="#">{{ el }}</a>
                                    {% endfor %}
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Invite collaborator</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/login">Log in</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/signup">Sign up</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>

        <div class="row" style="position: relative;">
            <div class="col" style="position: relative; height: calc(100vh - 56px);">
                <div id="editor" style="position: absolute; height: 100%; width: 100%;"></div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <script src="https://pagecdn.io/lib/ace/1.4.12/ace.js"></script>
    <script src="{% static 'javascripts/api_tunnel.js' %}"></script>
    <script src="{% static 'javascripts/editor.js' %}"></script>

</body>

</html>