@font-face {
    font-family: 'MesloLGS';
    src: url('../fonts/MesloLGS.ttf') format('truetype');
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #212529;
}

::-webkit-scrollbar-thumb {
    background: #ffffff33;
}

.navbar-brand>img {
    width: 28px;
}

.navbar-dark,
.card.bg-dark,
.card.bg-dark>div[class^="card-"] {
    background-color: #343a40 !important;
}

.form-floating>.input-group-text {
    font-size: 1.5rem;
    width: 45px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.col-4 {
    min-width: 350px
}

.messages {
    position: absolute;
    z-index: 100;
    right: 10px;
    top: 70px;
    width: 20rem;
}