{% url 'login' as login_url %}
{% url 'signup' as signup_url %}
{% url 'signout' as signout_url %}
{% url 'index' as index_url %}
{% url 'dashboard' as dashboard_url %}
{% url 'admin' as admin_url %}


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">codeo</a>
        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse flex-row-reverse" id="navbar">
            <ul class="navbar-nav">
                {% if not user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link {% if request.path == login_url %}active disabled{% endif %}"
                        href="{% url 'login' %}">Log in</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == signup_url %}active disabled{% endif %}"
                        href="{% url 'signup' %}">Sign up</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link {% if request.path == index_url %}active disabled{% endif %}"
                        href="{% url 'index' %}">New note</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == dashboard_url %}active disabled{% endif %}"
                        href="{% url 'dashboard' %}">Dashboard</a>
                </li>
                {% if user.is_staff %}
                <li class="nav-item">
                    <a class="nav-link {% if request.path == admin_url %}active disabled{% endif %}"
                        href="{% url 'admin:index' %}">Administration</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link {% if request.path == logout_url %}active disabled{% endif %}"
                        href="{% url 'logout' %}">Log out</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>